[Unit]
Description=Check scheduled upstream OS update windows

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
